// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Grey
$darkGrey: #262627;
$grey: #92857c;
$lightGrey: #ded5cf;

//Background Colors
$darkGreyBg: #262627;
$greyBg: #92857c;
$blackBg: #000000;
$lightGreyBg: #ded5cf;

//Secundary colors
$gold: #c1a84e;
$darkPurple: #201830;
