.discografia {
  padding: 30px 0;
  .disc {
    @include flexElement(row, space-around, flex-start);

    &-item {
      @include flexElement(column, center, center);
      width: 200px;
      height: 200px;
      margin: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      @include desktop {
        width: 300px;
        height: 300px;
      }

      &-1 {
        background-image: url(../../assets/disc1.jpg);
      }

      &-2 {
        background-image: url(../../assets/disc2.jpg);
      }

      &-3 {
        background-image: url(../../assets/disc3.jpg);
      }

      &-4 {
        background-image: url(../../assets/disc4.jpg);
      }

      &-5 {
        background-image: url(../../assets/disc5.jpg);
      }

      &-6 {
        background-image: url(../../assets/disc6.jpg);
      }

      &-7 {
        background-image: url(../../assets/disc7.jpg);
      }

      &-8 {
        background-image: url(../../assets/disc8.jpg);
      }

      .title {
          @include titleElement($lightGreyBg, $darkPurple, 20px);
      }

      .year {
        @include titleElement($darkGreyBg, $gold, 15px);
      }
    }
  }
}
