header {
  background-color: $darkGreyBg;
  text-align: center;
  padding: 20px 0;

  img {
    max-width: 80%;
  }
  .navbar {
    padding: 10px;
    width: 100%;
    top: 0;

    &-menu {
      @include flexElement(row, space-around, center);
      list-style-type: none;
      &-item {
        font-size: 16px;
        padding: 5px;
        text-transform: uppercase;
        a {
          color: $lightGrey;
          margin-right: 1rem;
          font-size: 1.5rem;
          text-decoration: none;
          font-family: "Sancreek", cursive;

          &:hover {
            color: $gold;
            cursor: pointer;
          }
        }
      }
    }
  }
}
