@charset 'utf-8';

//utilities
@import "./utilities/colors";
@import "./utilities/responsive";
@import "./utilities/mixins";

//block - layouts
// @import "./block/grid";

//base
@import "./base/typo";
@import "./base/reset";
@import "./base/normalize";


//sections
@import "./block/header";
@import "./block/volbeat";
@import "./block/discografia";
@import "./block/escucha";
@import "./block/footer";
